name: Continuous Integration
on:
  push:
  pull_request:
  release:
    types:
      [published]
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
        - windows-2019
        - windows-2016
        - ubuntu-20.04
        - ubuntu-18.04
        - macos-10.15
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: '14.x'
        registry-url: 'https://registry.npmjs.org'
    - run: npm ci
    - run: npm run-script lint
    - run: npm run-script buildPatchSuperfine
    - run: npm run-script buildTypeScript
    - run: npm run-script buildNyc
    - run: npm run-script webpack
  release:
    if: github.event_name == 'release'
    needs: build
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: '14.x'
        registry-url: 'https://registry.npmjs.org'
    - run: sed -i s/"999\.999\.999"/"${GITHUB_REF##*/}"/ package.json package-lock.json
    - run: npm ci
    - run: npm run-script buildPatchSuperfine
    - run: npm run-script buildTypeScript
    - run: npm publish
      env:
        NODE_AUTH_TOKEN: ${{secrets.npm_token}}
    - run: npm run-script webpack
    - uses: jakejarvis/s3-sync-action@master
      with:
        args: --acl public-read --follow-symlinks
      env:
        AWS_S3_BUCKET: skitkit.sunruse.co.uk
        AWS_ACCESS_KEY_ID: ${{ secrets.aws_access_key_id }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.aws_secret_access_key }}
        AWS_REGION: 'eu-west-1'
        SOURCE_DIR: 'editor/dist'
